<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>sv</string>
    <key>CFBundleDisplayName</key>
    <string>PanoWizard</string>
    <key>CFBundleExecutable</key>
    <string>PanoWizard</string>
    <key>CFBundleIdentifier</key>
    <string>se.egelberg.PanoWizard</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>PanoWizardApp.icns</string>
    <key>CFBundleName</key>
    <string>PanoWizard</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>4</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pw</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>PanoWizardProject.icns</string>
            <key>CFBundleTypeName</key>
            <string>PanoWizard-projekt</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>se.egelberg.panowizard.project</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.photography</string>
    <key>LSMinimumSystemVersion</key>
    <string>26.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>com.apple.package</string>
            </array>
            <key>UTTypeDescription</key>
            <string>PanoWizard-projekt</string>
            <key>UTTypeIdentifier</key>
            <string>se.egelberg.panowizard.project</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>pw</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
